
@{
    ViewData["Title"] = "Show";
    Product product1 = @ViewBag.Product as Product;
    Product product2 = @ViewBag.Product2 as Product;
}

<h1>Show</h1>
<br />
<h3>Car : @ViewBag.Car</h3>
<h3>City : @ViewBag.City</h3>
<h3>Product-1 Name : @product1.Name</h3>
<h3>Product-2 Name : @product2.Name</h3>



